header {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0;
  padding: calc(4 * var(--standard-padding-size));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#name-title > h1 {
  font-family: var(--header-font);
  font-size: 84px;
  text-align: left;
}

#name-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#web-social-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

#email {
  font-size: var(--normal-font-size);
  font-family: var(--header-font);
  padding: var(--small-padding-size);
  word-break: break-all;
  color: var(--secondary-font-color);
}

@media only screen and (max-width: 1024px) {
  header {
    position: static;
    width: 100%;
    padding: calc(2 * var(--standard-padding-size));
    justify-content: center;
    align-items: center;
  }
  header > h1 {
    text-align: center;
  }
  #web-social-button-container {
    display: none;
  }
}
