.web-nav-button {
  font-size: var(--medium-font-size);
  font-weight: 500;
  transition-duration: 0.3s;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  padding: var(--small-padding-size);
}

.web-nav-button:hover {
  color: var(--secondary-font-color);
  text-decoration: underline;
}
