#scroll-container {
  width: 50vw;
  padding: calc(4 * var(--standard-padding-size));
  /* background: linear-gradient(
    45deg,
    #c7f5fe 10%,
    #c7f5fe 40%,
    #fcc8f8 40%,
    #fcc8f8 60%,
    #eab4f8 60%,
    #eab4f8 65%,
    #f3f798 65%,
    #f3f798 90%
  ); */
}

h2 {
  font-family: var(--header-font);
  font-size: var(--large-font-size);
}

.project-name {
  color: rgb(130, 85, 138);
}

.project-box {
  padding: var(--standard-padding-size);
  height: 20vh;
  border: 0.5px solid black;
  margin: var(--standard-padding-size);
  cursor: pointer;
}

.year {
  font-family: var(--header-font);
  font-size: var(--large-font-size);
}

@media only screen and (max-width: 1024px) {
  #scroll-container {
    width: 100%;
    padding: calc(2 * var(--standard-padding-size));
    /* background-color: var(--secondary-background-color); */
  }
  #mobile-circle {
    z-index: -1;
    width: 20rem;
    height: 10rem;
    background-color: #48abe0;
    border-radius: 10rem 10rem 0 0;
  }
}
