#scroll-container {
  width: 50vw;
  padding: calc(4 * var(--standard-padding-size));
  /* background: linear-gradient(
    45deg,
    #c7f5fe 10%,
    #c7f5fe 40%,
    #fcc8f8 40%,
    #fcc8f8 60%,
    #eab4f8 60%,
    #eab4f8 65%,
    #f3f798 65%,
    #f3f798 90%
  ); */
}

h2 {
  font-family: var(--header-font);
  font-size: var(--large-font-size);
}

.project-box {
  padding: var(--standard-padding-size);
  height: 20vh;
  border: 0.5px solid black;
  margin: var(--standard-padding-size);
  cursor: pointer;
}

.year {
  font-family: var(--header-font);
  font-size: var(--large-font-size);
}

p > span {
  font-family: var(--primary-font);
  line-height: var(--standard-line-height);
  font-size: var(--medium-font-size);
  font-weight: bold;
}

p > span:hover {
  color: rgb(255, 136, 255);
}

p {
  font-family: var(--primary-font);
  line-height: var(--standard-line-height);
  font-size: var(--medium-font-size);
}

.separator {
  text-align: center;
  color: var(--primary-font-color);
  padding: var(--standard-padding-size);
}

#mini-ombre-circle {
  background: linear-gradient(
    -135deg,
    rgb(119, 255, 244) 0%,
    rgb(238, 155, 255) 70%,
    rgb(255, 209, 101) 100%
  );
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#ombre-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  #scroll-container {
    width: 100%;
    padding: calc(2 * var(--standard-padding-size));
  }
}
