#ombre-circle {
  position: fixed;
  top: 5vh;
  left: 5vh;
  background: linear-gradient(
    -135deg,
    #f6ff77 0%,
    rgb(255, 166, 87) 70%,
    rgb(255, 101, 101) 100%
  );
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  #ombre-circle {
    display: none;
  }
}
