#intro {
  font-size: var(--medium-font-size);
  line-height: var(--standard-line-height);
  padding: var(--standard-padding-size);
  text-align: left;
  padding-top: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-paragraph {
  padding: var(--small-padding-size);
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.top-paragraph {
  padding-top: 0;
}

@media only screen and (max-width: 1024px) {
  #intro {
    text-align: center;
    padding-top: calc(1 * var(--standard-padding-size));
    padding-bottom: calc(1 * var(--standard-padding-size));
    align-items: center;
    justify-content: center;
  }
  .intro-paragraph {
    font-size: var(--small-font-size);
    padding: var(--small-padding-size);
  }
}
