#intro-paragraph {
  font-size: var(--medium-font-size);
  line-height: var(--standard-line-height);
  padding: var(--standard-padding-size);
  text-align: center;
  padding-bottom: calc(5 * var(--standard-padding-size));
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  #intro-paragraph {
    text-align: center;
    padding-top: calc(1 * var(--standard-padding-size));
    padding-bottom: calc(1 * var(--standard-padding-size));
  }
  #intro-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .paragraph {
    text-align: center;
    align-items: center;
  }
}
