.experience-box {
  min-height: 100%;
  width: 300px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-background-color);
  padding: var(--standard-padding-size);
}

@media only screen and (max-width: 1024px) {
  .experience-box {
    width: calc(100vw - 2 * var(--standard-padding-size));
    height: 80vw;
    padding: 0;
    scroll-snap-align: center;
    padding: var(--standard-padding-size);
    border: 1px solid red;
    display: inline-block;
    margin: var(--standard-padding-size);
  }
  .experience-box > p {
    white-space: normal;
  }
}

.experience-box:hover {
  transform: scale(1.1);
}

.experience-box > h2 {
  color: var(--primary-font-color);
  font-family: var(--header-font);
  font-size: 24px;
  padding: var(--small-padding-size);
}

.experience-box > p {
  font-size: var(--medium-font-size);
}

.experience-box > span {
  font-size: 36px;
  padding: var(--standard-padding-size);
}
