.project {
  padding: var(--small-padding-size);
  padding-top: calc(2 * var(--small-padding-size));
  padding-bottom: calc(2 * var(--small-padding-size));
  display: flex;
  flex-direction: column;
  align-items: left;
}

.project-name {
  padding: var(--small-padding-size);
  font-size: var(--medium-font-size);
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  font-weight: 500;
  color: inherit;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  padding: var(--small-padding-size);
  line-height: var(--standard-line-height);
  font-size: var(--small-font-size);
}

.project-links {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tertiary-font-color);
  font-family: var(--header-font);
  text-decoration: none !important;
}

.name-icon {
  padding-right: 0.5rem;
  font-size: var(--small-font-size);
  color: inherit;
}

.bold {
  font-weight: bold;
}

.stack-word {
  font-size: inherit;
  font-weight: 500;
  transition-duration: 0.3s;
  display: inline-block;
}

.stack-word-highlight {
  color: var(--secondary-font-color);
  /* text-decoration-color: var(--secondary-font-color); */
  transform: scale(1.05);
}

@media only screen and (max-width: 1024px) {
  .project {
    padding: 0;
  }
  .stack-word-highlight {
    color: inherit;
    transform: none;
  }
}
