.project {
  padding: var(--small-padding-size);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 0;
  padding-bottom: 0;
}

.project-name {
  padding: var(--small-padding-size);
  font-size: 1.4rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  padding: var(--small-padding-size);
  line-height: var(--standard-line-height);
  font-size: var(--medium-font-size);
}

.project-links {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--medium-font-size);
  color: var(--tertiary-font-color);
  font-family: var(--header-font);
}

.project-link {
  cursor: pointer;
  text-decoration: underline wavy yellow;
}

.project-link-icon {
  cursor: pointer;
  padding: var(--small-padding-size);
  font-size: var(--medium-font-size);
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .project {
    padding: 0;
  }
}
