header {
  height: 100vh;
  width: 45vw;
  position: sticky;
  top: 0;
  padding: calc(4 * var(--standard-padding-size));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#name-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#name-title-container > h1 {
  font-family: var(--header-font);
  font-size: var(--xxlarge-font-size);
  text-align: left;
  padding: var(--standard-padding-size);
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

#name-title-container > h2 {
  padding: var(--standard-padding-size);
  padding-top: var(--small-padding-size);
  font-size: var(--large-font-size);
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  header {
    position: static;
    width: 100%;
    padding: var(--standard-padding-size);
    justify-content: space-evenly;
    align-items: center;
  }
  #name-title-container > h1 {
    text-align: center;
    font-size: var(--large-font-size);
    padding-top: var(--small-padding-size);
  }
  #name-title-container > h2 {
    font-size: var(--medlar-font-size);
    text-align: center;
  }
}
