section {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro-text {
  height: fit-content;
  color: rgb(108, 0, 170);
  font-size: 56px;
  padding: 1em;
  line-height: 1.2em;
  width: 50vw;
  text-align: left;
}

.hover-color {
  transition-duration: 0.3s;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

.hover-color:hover {
  color: rgb(255, 255, 255);
}

/* have a press me sticker on the laptop! */
img {
  height: 50vh;
  width: min-content;
  cursor: pointer;
}
