header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: var(--standard-padding-size);
  justify-content: end;
}

@media only screen and (max-width: 1024px) {
  header {
    justify-content: center;
  }
}
