#scroll-container {
  height: 100%;
  width: 50vw;
  padding: 5rem;
}

h2 {
  font-family: var(--header-font);
  font-size: var(--large-font-size);
}

.project-box {
  width: 100%;
  padding: var(--standard-padding-size);
  height: 20vh;
  border: 0.5px solid black;
  margin: var(--standard-padding-size);
  cursor: pointer;
}
