#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--standard-padding-size);
  height: 100%;
  background-image: url("../../assets/img/watercolor.png");
}

#experience > h1 {
  font-size: var(--xlarge-font-size);
  font-family: var(--header-font);
  width: 100%;
  text-align: right;
  color: var(--secondary-font-color);
  padding: var(--small-padding-size);
}

@media only screen and (max-width: 1024px) {
  #experience > h1 {
    text-align: left;
  }
}
