#projects {
  height: fit-content;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--primary-background-color);
}

.card-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em;
}

.test-project {
  height: 30vw;
  width: 20vw;
  transition-duration: 0.2s;
  border-radius: 2vw;
  padding: 1em;
}

.test-project > h3 {
  font-family: var(--header-font);
  font-size: 24px;
  transition-duration: 0.4s;
  text-decoration: transparent;
}

.test-project > h3:hover {
  text-decoration: yellow wavy underline;
}

.test-project > p {
  font-size: 20px;
}

#project-title-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center;
  justify-content: space-between;
  height: 30vw;
  padding: 1em;
  padding-top: 0px;
  align-items: center;
}

#project-title-container > h2 {
  font-family: var(--header-font);
  font-size: 64px;
  color: white;
}

#project-title-container > p {
  font-size: 30px;
  color: white;
}

#icon-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 28px;
}

#icon-container > span {
  color: rgb(151, 212, 255);
}
