#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
  background-color: white;
}

#contact > p {
  font-size: 48px;
  font-family: var(--header-font);
}
