#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  background-color: var(--secondary-background-color);
  padding: var(--standard-padding-size);
}

#contact > p {
  font-size: var(--large-font-size);
  font-family: var(--header-font);
  padding: var(--small-padding-size);
}
