.paragraph {
  font-size: var(--medium-font-size);
  text-align: left;
  line-height: var(--standard-line-height);
  padding: var(--small-padding-size);
}

@media only screen and (max-width: 1024px) {
  .paragraph {
    text-align: center;
    align-items: center;
  }
}
