#contact-footer {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: var(--medlar-font-size);
  padding: var(--small-padding-size);
}

.mobile-only {
  display: none !important;
}
.web-only {
  display: flex !important;
}

@media only screen and (max-width: 1024px) {
  #contact-footer {
    flex-direction: column;
    padding: 0;
    padding-top: calc(2 * var(--standard-padding-size));
  }
  .mobile-only {
    display: flex !important;
  }
  .web-only {
    display: none !important;
  }
}
