footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credit-footer {
  padding: calc(3 * var(--small-padding-size));
  color: var(--primary-font-color);
  font-size: var(--small-font-size);
}

#footer-icon {
  font-size: var(--medium-font-size);
  padding: var(--small-padding-size);
  display: none;
}

@media only screen and (max-width: 1024px) {
  #footer-icon {
    display: block;
  }
  #credit-footer {
    padding: var(--small-padding-size);
  }
}
