@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Inter", sans-serif;
}

html {
  background-color: #fbd2ffde;
}

#root {
  display: flex;
  flex-direction: column;
}
