* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: rgb(255, 0, 162);
}

html {
  background-color: #fbd2ff;
}

#root {
  display: flex;
  flex-direction: column;
}
