@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --header-font: "Calistoga", cursive;
  --primary-font: "IBM Plex Sans", sans-serif;
  --primary-background-color: #ffabcb;
  --secondary-background-color: white;
  --primary-font-color: rgb(255, 255, 255);
  --secondary-font-color: #ffabcb;
  --tertiary-font-color: rgb(255, 204, 0);
  --small-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --large-font-size: 3rem;
  --xlarge-font-size: 4rem;
  --standard-padding-size: 16px;
  --small-padding-size: 8px;
}
