@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;800;900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --header-font: "Figtree", sans-serif;
  /* make secondary times if using playfair */
  --primary-font: "Figtree", sans-serif;
  --primary-background-color: #fbf7f2;
  --secondary-background-color: #89abe3;
  --primary-font-color: #1e1c1c;
  --secondary-font-color: rgb(30, 84, 171);
  --tertiary-font-color: #bcb6ff;
  --small-font-size: 1rem;
  --medium-font-size: 1.25rem;
  --medlar-font-size: 1.75rem;
  --large-font-size: 3rem;
  --xlarge-font-size: 4rem;
  --xxlarge-font-size: 5.25rem;
  --standard-padding-size: 16px;
  --small-padding-size: 8px;
  --standard-line-height: 150%;
}
