@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;800;900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --header-font: "Figtree", sans-serif;
  --primary-font: "Figtree", sans-serif;
  --primary-background-color: #fcedda;
  --secondary-background-color: yellow;
  --primary-font-color: #ee4e34;
  --secondary-font-color: #c3402b;
  --tertiary-font-color: #ff8f7d;
  --small-font-size: 1rem;
  --medium-font-size: 1.2rem;
  --medlar-font-size: 1.75rem;
  --large-font-size: 2.5rem;
  --xlarge-font-size: 10rem;
  --xxlarge-font-size: 5.25rem;
  --standard-padding-size: 16px;
  --small-padding-size: 8px;
  --standard-line-height: 150%;
}
