a > span {
  font-size: inherit;
  cursor: pointer;
  transition-duration: 0.3s;
  color: inherit;
  padding: var(--small-padding-size);
}

a > span:hover {
  color: rgb(255, 191, 0);
  transform: scale(1.2);
}
