#social-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: var(--small-padding-size);
  font-size: inherit;
}

#social-button-list {
  list-style-type: none;
}
