#social-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(4 * var(--large-font-size));
  padding: var(--small-padding-size);
}

#social-button-list {
  list-style-type: none;
}
