#stack-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(2 * var(--standard-padding-size));
  padding-top: var(--standard-padding-size);
  padding-bottom: calc(4 * var(--standard-padding-size));
}

#stack-button-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#stack-filter-options {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 2rem;
  align-items: center;
}

.stack-filter-header {
  padding: 0;
  text-align: left;
  font-size: var(--large-font-size);
}
